<html>
   <head>
        <title>Pappy's Pizza</title>
        <script src="/js/pizza.js"></script>
        <link rel="stylesheet" type="text/css" href="css/pizza.css">
   </head>
   <body background="images/pizza7.jpg" align="middle">
        <p>what time could it be?</p>
        <div id="demogorgon">
        
        <button onclick="funkyButton()">The time is.</button>
        </div>

        <div class="topnav">
         <a  href='/'>Home</a>
         <a class="active" href='/pizza_page1'>Order</a>
         <a href='/pizzy_about'>About</a>
         
    </div>
    <center>
    <form method="post" action="/pizzy">
     <div class="boxy">
    <h2>Select your meats<h2>
    <img onmouseover="big(this)" onmouseout="small(this)" border="0" src="images/cartoon_pizza.jpg" alt="cartoon_pizza" width="32" height="32">
    <br>

    <% meats.each do |meat|%> 
    <input type="checkbox" name="thingy1[]"  value="<%= meat %>"><%= meat.capitalize %><br> 
    <%end%>
    </div>
    <br>
    <div class="boxy1">
    <h2>Select your cheeses<h2>
    <img onmouseover="big(this)" onmouseout="small(this)" border="0" src="images/pepperjack.jpg" alt="cheese" width="32" height="32">
    <br>
    <%cheese.each do |cheeese|%>
    <input type="checkbox" name="thingy2[]" value="<%= cheeese %>"><%=cheeese.capitalize %><br>
    <%end%>
    </div>
    <br>
    <div class="boxy2">
    <h2>Select your veggies<h2>
    <img onmouseover="big(this)" onmouseout="small(this)" border="0" src="images/habanero1.jpg" alt="pepper" width="32" height="32">
    <br>
    <%veggies.each do |vegg|%>
    <input type="checkbox" name="thingy3[]" value="<%= vegg %>"><%=vegg.capitalize %><br>
    <%end%>
    </div>
    <br>
    <div class="boxy3">
    <h2>Select your sauce<h2>
    <img onmouseover="big(this)" onmouseout="small(this)" border="0" src="images/sauce.jpg" alt="sauce" width="32" height="32">
    <br>
    <%sauce.each do |sawce|%>
    <input type="checkbox" name="thingy4[]" value="<%=sawce%>"><%=sawce.capitalize%><br>
    <%end%>
    </div>
    <br>
    <div class="boxy4">
    <h2> Select the size<h2>   
    <br>
    <%size.each do |syze|%>
    <input type="radio" name="thingy5[]"  value="<%=syze%>"><%=syze.capitalize%><br>
    <%end%>
    </div><br>
    
    

    <div class="boxy5" id="myDIV">
    <h2> Delivery?<h2>
    <input type="text" name="thingy12" placeholder="city">
    <input type="text" name="thingy13" placeholder="street"><br>
    <label for="miles">How many miles?(if delivery)</label><br>
     <input type="number" name="thingythingy" placeholder="enter number of miles"><br>
     </div>
    <br>
    <div class="boxy6"><br>
    <h2>  Carryout?<h2>
    
     <input type="radio" name="thingy6" id="myDIV" value="no" ><br>
    </div>
    <input type="submit" value="submit" onclick="myFunc()" >
    </form>
    <div class="pooper">
    <%=pizza.capitalize%>
    <br>
    <%=price.capitalize%>


    </div>
 <%# <%pizzaria%> 
    




    </center>

   </body>
</html>